.cont-ed{
  padding-right: 70px;
}
.button-form-update{
    width: 355px;
    border-radius: 6px;
}
.profilepic{
    height: 260px;
    width: 260px;
    margin-top: 10px

}
.ant-modal-body{
    margin-left: 50px;
}
.table-m{
    margin-left: 1000px;
}

.lorem-p {
 
    position: absolute;
    height: 68%;
    width: 80%;
    padding-bottom: 20px;
    /* margin-top: 150px; */
    overflow: inherit;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 20px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lorem-p:hover {
    opacity: 1;
}
  .button-m:hover{
    background-color: #416c81;
    color: #ffffff;
    border-radius: 7px;
    border-color: #05283a;
  }
.button-m{
    margin-left: 10px;
    border-radius: 7px;
}
.input-containers{
    height: 80%;
    width: 77%;
   margin-left: 5%;
}

input[type="submit"] {
    
    cursor: pointer;
    font-size: 15px;
    background: rgb(34, 141, 183);
    background: linear-gradient( 90deg, rgba(34, 141, 183, 1) 8%, rgba(26, 147, 194, 1) 95%);
    /* border: 1px solid #05091b; */
    color: #fff;
    border-radius: 5px;
   
}

input[type="submit"]:hover {
    background: rgb(38, 178, 233);
    background: linear-gradient( 90deg, rgba(38, 178, 233, 1) 8%, rgba(28, 174, 231, 1) 95%);
}
.details-form{
    width: 80%;
    padding-left: 30px;
    padding-top: 20px;
}
.details-row{
    padding-top: 10px;
    font-size: 16px;
    color: black;
    padding-left: 20px;
}
.details-title{
   
    font-size: 25px;
    padding-left: 70px;
}

/* input[type="password"] {
    
    width: 75%;
    
} */
.reset-button{
    padding-left: 8px;
    padding-right: 60px;
}
.submit-button{
    padding-right: 1px;
}