@import '~antd/dist/antd.css';

/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: blue !important;
  color: black !important;
}
input[type="text"]{
  background-color: deeppink !important;
  color: black !important;
} */
body{
  /* font-family: cursive;
  font-size: medium; */
  font-family: fantasy;
  font-size: medium;
}
.ant-form-item-explain-error {
  color: #ff4d4f;
  display: none !important;
}
.modal{
  background-color: #ffffff;
  overflow-y: scroll;
  height: 420px;
  width: 400px;
}
.ant-card-bordered {
  background-color: #ffffff;
}
.ant-form{
  background-color: #ffffff;
}
ant-card{
  background-color: #ffffff;
}

      .ant-table-thead > tr >th{
        /* color: white; */
        
        background: #8cb7ce !important;
      }
   
    

      /* Modify list text and background color   */
      .ant-table-tbody > tr >th{
        /* color: white; */
        background: #3071b9 !important;
        }
        .ant-table-tbody > tr:hover  {
          background: rgb(202, 223, 232);
        }
       
        
        .ant-table-tbody> tr> td {
          background: rgba(255,255,255,0) !important;
        }
        /* .ant-table-tbody> tr >td:hover{
          background: rgb(0, 0, 0) !important;
        } */
       
        .ant-table-tbody> tr> td {
          background: rgba(255,255,255,0) !important;
        }
        .ant-table-tbody> tr >td:hover{
          background: rgba(255,255,255,0) !important;
        }
    
.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 590px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: radial-gradient( circle, rgb(99, 125, 145) 7%, rgb(28, 94, 120) 95%);
}
.bstore{
  overflow: hidden;
  color: #d0eaf4;
    position: fixed;
    padding-left: 1050px;
    font-size:medium;
    
}
.bstore-heading{
  overflow: hidden;
  color: #d0eaf4;
    position:fixed;
    padding-left: 200px;
    font-size: large;
    padding-top: 50px;
    
}
.welcome{
    font-size: medium;
    padding-left: 1000px;
}
.search{
    padding-left: 330px;
    position: absolute;
}
input[type="search"] {
   
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
   
    margin-top: 75px;
    
    background-color: rgb(237, 237, 237);
 
}
input[type=search]:focus {
    border: none;
    background-color: rgb(255, 255, 255);
    
  }
.logout{
    align-self: flex-end;
    padding-top: 15px;
    padding-right: 10px;
    opacity: 0.5;
    
}
a{
    color: rgb(22, 103, 135);
}
/* a{
    color:  rgb(0, 0, 0);
    background-color:  rgb(116, 166, 186);
    border-radius: 15px;
    border: #05091b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  

    
  }
  a:hover{
      
      background:  rgb(159, 188, 199);
  } */
.content {
  
    position: fixed;
    font-family: sans-serif;
    height: 90px;
    width: 1200px;
    
        font-size: 20px;
        padding-left: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
  align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: radial-gradient( circle, rgb(99, 125, 145) 7%, rgb(28, 94, 120) 95%);
}
.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}
  
table {
    border: 1px solid rgb(42, 46, 42);
    /* padding: 15px;
    width: 500px;
    height: 500px; */
  }
  /* th {
    text-align: center;
    border: #dbdeec;
  } */
     
  td {
    text-align: left;
    padding: 20px;
    
     
  }
  

  /* .searchbox{
    
    border: none;
    border-bottom: 2px solid red;
    color: rgb(107, 154, 168);
      
  } */
  .line {
    background-color: black;
    opacity: 0.5;
    height: 1px;
    width: 311%;
   
   
  }

input[type="text"],
input[type="password"] {
    height: 25px;
    /* border: 1px solid rgba(0, 59, 118, 0.817); */
    color: rgb(3, 67, 116);
    /* background-color: #05091b !important; */
}


input[type="submit"] {
    
    cursor: pointer;
    font-size: 15px;
    background: rgb(34, 141, 183);
    background: linear-gradient( 90deg, rgba(34, 141, 183, 1) 8%, rgba(26, 147, 194, 1) 95%);
    /* border: 1px solid #05091b; */
    color: #fff;
    border-radius: 5px;
   
}

input[type="submit"]:hover {
    background: rgb(38, 178, 233);
    background: linear-gradient( 90deg, rgba(38, 178, 233, 1) 8%, rgba(28, 174, 231, 1) 95%);
}


.button-container {
    padding-top: 25px;
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: center;
    padding-left: 80%;
}

.login-form {
    height: 60%;
    width: 26%;
    background-color: white;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lorem {
 
    position: absolute;
    height: 68%;
    width: 80%;
    padding-bottom: 20px;
    /* margin-top: 150px; */
    overflow: inherit;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 20px;
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lorem:hover {
    opacity: 1;
}
.blocks
{

  
    height: 150px;
    width: 270px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(7, 0, 0);
    align-self: center;
}

.hometitle {
    font-size: 40px;
    margin-bottom: 20px;
    align-self: center;
    color: rgb(8, 39, 58);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
   
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
    width: 200px;
    
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.Sidebar {
  overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: #05283a;
    color: #ffffff;
    }
    
    .sidebar-logo {
        font-size:17px;
        padding-left: 9px;
        color: #ddd;
        }
       
        .sidebar-icon {
        width: 1.25em;
        height: 1.25em;
        margin-right: 16px;
        cursor: pointer;
        user-select: none;
        }
        .sidebar-header {
        display: flex;
        align-items: center;
        padding: 16px;
        }
        .sidebar-items {
        display: flex;
        flex-direction: column;
        padding: 0 8px;
        }
       
        .sidebar-items .item {
        display: flex;
        align-items: center;
        padding: 16px 8px;
        border-radius: 5px;
        transition: background-color 0.2s;
        cursor: pointer;
        }
        .sidebar-items .item:hover {
        background-color: rgba(69, 134, 158, 0.921);
        }

.Sidebar.collapsed {
    width: 76px;
    }
    Sidebar.collapsed .sidebar-icon {
    margin-right: 0;
    }
    .Sidebar.collapsed
    .sidebar-text,
    .Sidebar.collapsed .sidebar-logo {
    display: none;
    }

    /* for header */
    .header{
        height: 120px;
        margin-left: 16.8%;
        font-size: 20px;
        padding-left: 15px;
        padding-top: 30px;
    }
    .dashboardrow{
        background: rgb(255, 255, 255);
        height: 500px;
        width: 100%;
        padding: 20px;
        margin-left: 16.8%;
        float: left;
        
    }
 


    /* footer */
    .footer{
       
        width: 100%;
        color: #05091b;
        align-self: center;
        padding-left: 800px;
        
        
    }
   
    .side {
        font-family: sans-serif;
        
      align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        height: 100%;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        background: radial-gradient( circle, rgb(99, 125, 145) 7%, rgb(28, 94, 120) 95%);
    }

    /* responsive box */
    * {
        box-sizing: border-box;
        
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      [class*="col-"] {
        float: left;
        padding: 15px;
      }
      
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      
      html {
        font-family: "Lucida Sans", sans-serif;
      }
      
      .header {
        /* background-color: #9933cc; */
        /* color: #ffffff; */
        padding: 15px;
      }
      
      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu li {
        padding: 8px;
        margin-bottom: 7px;
        background-color: #33b5e5;
        color: #ffffff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      
      .menu li:hover {
        background-color: #0099cc;
      }


      /* responsive table 2 */
      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      /* #customers tr:nth-child(even){background-color: rgb(194, 206, 211);} */
      
      #customers tr:hover {background-color: rgb(178, 204, 215);}
      
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color:rgb(94, 141, 160);
        
        color: white;
      }

    .bg{
     height: 100vh;
      background: radial-gradient( circle, rgb(116, 137, 154) 7%, rgb(53, 117, 142) 95%);
  
    }
    .demo{
      height: 90%;
      width: 90%;
      padding: 100px;;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #ffffff;
  }
   /* .headingrow{
     position: fixed;
     margin-top: 800px;
     padding-bottom: 10px;
   } */
    
.headerheading{
  font-size:x-large;
  margin-top: 70px;
 
  
  
}
.bstores{
  overflow: hidden;
    position: fixed;
    padding-left: 590px;
    font-size: x-large;
    padding-top: 25px;
    color: #f1f1f1;
}
.button-container-submit{
  margin-top: 75px;
 padding-left: 125px;
    width: 140px;
   
    
    
}
.button{
  border-radius: 7px;
}
.button:hover{
  background-color: #416c81;
  color: #ffffff;
  border-radius: 7px;
  border-color: #05283a;
}
/* css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
  background-color: rgb(181, 0, 0);
}
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover{
  background-color: rgb(255, 255, 255);
} */