
/* .ant-btn.ant-btn-default{
    width:167px 
} */
/* .ant-btn-primary.ant-btn{
    width:167px 
} */
.modal-class-form{
    padding-right: 80px;
}

.submit-form-modal{
    width: 167px !important;
}

.reset-form-modal{
    width:167px !important;
}